.HeroContainer {
  height: 100vh;
}

.heroTop {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  grid-template-rows: 1fr;
  align-items: flex-end;
  height: 11.5vh;
}

.heroHeading {
  grid-area: 1 / 1 / 2 / 2;
  font-family: "Gilroy-SemiBold";
  font-size: 11.5em;
  background-image: url("https://i.pinimg.com/564x/16/5b/19/165b19905378f449dd5e7f7d8acc5a17.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
}

.heroText {
  grid-area: 1 / 3 / 2 / 3;
  font-size: 1em;
  /* margin-top: 1em; */
  color: #4a4a4a;
  font-family: "SpaceGrotesk-Regular";
  padding-left: 6.2em;
  cursor: pointer;
}

.heroText span {
  color: #efefef;
  cursor: pointer;
}

.heroLine {
  grid-area: 1 / 4 / 1 / 4;
  /* margin-top: 6.5em; */
  color: #dcdcdc;
  font-family: "SpaceGrotesk-Regular";
  margin-bottom: 0.8em;
  cursor: pointer;
}

.heroLine span {
  color: #424242;
}

.womenShop {
  padding-left: 4.5em;
  margin-top: 0;
}

/* src/ImageGrid.css */
.grid-container {
  margin-top: 10em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  height: 50vh;
  /* border-top: 1px solid #3d3d3d; */
  /* border-left: 1px solid #515151; */
  /* border-radius: 1em; */
}

.grid-item {
  border: 1px solid #191919;
  position: relative;
  overflow: hidden;
  border-radius: 0.2em;
}

.grid-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.8s ease;
}

.grid-item:hover {
  scale: 0.98;
  transition: 1s ease-in-out;
}
