.NavbarContainer {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-top: 0.4em;
  width: 8vh;
}

.cartIcon {
  padding-top: 0.4em;
  width: 5.5vh;
}

.navText {
  font-size: 0.8em;
  font-family: "Satoshi-Medium";
  color: #555;
  width: 25em;
}

ul {
  list-style: none;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: #666;
  position: relative;
  font-family: "SpaceGrotesk-Medium";
  font-size: 0.8em;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .navText {
    text-align: center;
    margin-top: 6em;
    font-size: 0.85em;
  }
  .logo {
    padding-top: 0.4em;
    width: 6vh;
  }
  
  .cartIcon {
    padding-top: 0.4em;
    width: 4.3vh;
  }
}
