.mainSliderContainer {
  width: 100%;
  height: auto;
  margin-bottom: 10em;
}

.cardsContainer {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 50em;
  z-index: 10000;
  align-items: flex-start;
}

.sliderCards{
  position: relative;
  width: 30em;
}

.sliderCards img {
  width: 100%;
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.sliderCards .defaultImg {
  z-index: 1; /* Ensure default image is below the hover image */
}

.sliderCards .imgOnHover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* Ensure hover image is on top of the default image */
  opacity: 0; /* Start with hover image hidden */
}

.sliderCards:hover .defaultImg {
  opacity: 0; /* Hide default image on hover */
}

.sliderCards:hover .imgOnHover {
  opacity: 1; /* Show hover image on hover */
}

#bg-3-1, #bg-3-3 {
  align-self: flex-end;
}

#bg-3-2, #bg-3-4 {
  align-self: flex-start;
}

.bgText {
  display: flex;
  flex-direction: column;
  padding-top: 20em;
  align-items: center;
  justify-content: left;
  color: #c6c6c6;
  font-family: "Gilroy-SemiBold";
  z-index: -1;
}

.bgText p {
  margin: 0;
  padding: 0;
  background-image: url("../Assets/sliderImages/sliderBG.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#big {
  font-size: 5em;
  font-family: "Gilroy-Semibold";
}

#small {
  font-size: 2em;
  font-family: "Gilroy-Light";
}

@media (max-width: 1025px) {
  #bg-3-1,
  #bg-3-2,
  #bg-3-3,
  #bg-3-4 {
    margin: 1em;
    padding: 1em;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }
  .cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100vw;
    height: 100vh;
    padding-top: 50em;
  }
  .bgText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

