.mainSliderContainer {
  width: 100%;
  height: auto;
  margin-bottom: 10em;
  /* border: 2px solid red; */
}

.cardsContainer {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-top: 50em;
  z-index: 10000;
  /* border: 2px solid blue; */
}

#bg-3-1 {
  /* margin-left: 62em; */
}
#bg-3-2 {
  /* margin-right: 80em; */
  /* top: 20em; */
}
#bg-3-3 {
  /* top: 50em; */
  /* margin-left: 62em; */
}

.sliderCards img {
  width: 30em;
  /* height: 20em; */
  /* object-fit: cover; */
}
.bgText {
  display: flex;
  flex-direction: column;
  padding-top: 20em;
  align-items: center;
  justify-content: left;
  color: #c6c6c6;
  font-family: "Gilroy-SemiBold";
  z-index: -1;
  /* border: 2px solid yellow; */
}

.bgText p {
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/736x/fb/12/14/fb1214b9a6b88659fead1c71ecab8945.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#big {
  font-size: 5em;
}

#small {
  font-size: 2em;
  font-family: "Gilroy-Light";
}

@media (max-width: 1025px) {
  #bg-3-1,
  #bg-3-2,
  #bg-3-3 {
    margin: 1em;
    padding: 1em;
  }
  .cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100vw;
    height: 100vh;
    padding-top: 50em;
  }
}
@media (max-width: 432px) {
  #bg-3-1,
  #bg-3-2,
  #bg-3-3 {
    margin: 1em;
    padding: 1em;
  }
  .cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100vw;
    height: 100vh;
    padding-top: 50em;
  }
}
