body {
  margin: 0;
  padding: 1em 2em 0em 2em;
  overflow-x: hidden;
  color: #7a7a7a;
  background-color: #080808;
}
body::-webkit-scrollbar {
  display: none;
}
.HeroContainer img {
  filter: grayscale(70%);
  transition: 0.7s;
}
.HeroContainer img:hover {
  filter: grayscale(0);
}


.BestSellerContainer,
.ReviewsContainer,
.VaultContainer,
.SliderShoesContainer {
  height: 100vh;
  margin-top: 2em;
}
/* Space Grotesk font styles*/
@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url("./Assets/Fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf")
    format("opentype");
}

@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url("./Assets/Fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf")
    format("opentype");
}

@font-face {
  font-family: "SpaceGrotesk-Semibold";
  src: url("./Assets/Fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf")
    format("opentype");
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url("./Assets/Fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf")
    format("opentype");
}

@font-face {
  font-family: "SpaceGrotesk-Light";
  src: url("./Assets/Fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf")
    format("truetype");
}

/* Gilroy font styles */
@font-face {
  font-family: "Gilroy-Light";
  src: url("./Assets/Fonts/Gilroy/Gilroy-Light.otf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./Assets/Fonts/Gilroy/Gilroy-ExtraBold.otf") format("truetype");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./Assets/Fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./Assets/Fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
}

/* Sathoshi font styles*/
@font-face {
  font-family: "Satoshi-Medium";
  src: url("./Assets/Fonts/Satoshi/Satoshi-Medium.otf") format("truetype");
}
